.main-container
{
  border: 1px solid;
    width: 50%;
    text-align: center;
    margin: auto;
}
.btn_container{
  margin-top: 9px;
  text-align: justify;
  padding: 5px;
}
.btn_container button{
  margin: 7px;
  width: 19%;
}
.display-container
{
  top: 10px;
}